[2017-11-09 16:01] kroeder opened #1 "Contributing / Repo activities"
Hey,

is there any plan to track bugs / features in this issue tracker?
I ran into a couple of bugs I am currently investigating - I'd like to post my issues + a PR if I find the solution

[2017-11-09 16:12] kroeder opened #2 "Set typescript dependency to ~2.3.0 instead of ^2.5.0 to match the angular supported ts version"
Angular 5 just recently started to officially support Typescript `2.4.0` but your package.json depends on`^2.5.x`

Angular 4 supported `"typescript": "~2.3.0"`

Shouldn't it be the same as the supported angular version?

[2017-11-09 16:59] kroeder opened #3 "ng serve throws ERROR in UIjarModule is not an NgModule"
Starting ui-jar with ng serve for the first time throws `ERROR in UIjarModule is not an NgModule
`

After the first recompile (trigger --watch change detection) the error is gone - not sure what causes this (normally this happens with `npm link` in certain situations)

[2017-11-09 17:06] nording commented on #1
Hi,

Yes, feel free to add issue, I will do my best to help!

[2017-11-09 17:12] nording commented on #3
I have seen that issue, sometimes it recompiles automatic when I get it. But I'm not getting it every time, just time to time.

Current workaround: Trigger a compile again, it works the second time.

[2017-11-09 17:16] nording commented on #2
My bad :) I Will update that! Thanks!

[2017-11-09 17:34] nording opened #4 "Add incremental build when using --watch flag"
WIP

[2017-11-09 19:31] kroeder opened #5 "Using 'npm start' tells me 'sass' was not found"
Do you missed a devDependency? It might be in your global dependencies

[2017-11-09 19:38] kroeder commented on #3
After being through endless trouble shooting with angular-cli I might figure out what's wrong...

btw. for being fully CamelCase you might consider rename UIjarModule to UIJarModule
https://angular.io/guide/styleguide#symbols-and-file-names

It is a small breaking change but since this is .beta and not 1.0 release? Just seems cleaner to me - at the end of the day it's your choice :)

[2017-11-10 10:19] #1 closed

[2017-11-10 12:54] kroeder opened #6 "Any way to integrate a living styleguide for only testing / presenting css classes?"
I'm trying to documentate what kind of buttons my ui framework has
This is what I tried (altough I guessed this won't do)

[code]

I tried to documentate the buttons with a `buttons.spec.ts` inside my `styles` directory.

What I am getting is:
[code]

[2017-11-10 13:10] kroeder commented on #6
It is, I made it!

[code]

I had a wrong describe name in another .spec.ts

Works like a charm.. might be worth to documentate this

[2017-11-10 14:06] nording commented on #6
Great that you figured it out!

[2017-11-10 14:27] kroeder commented on #6
The only downside is that you cannot put your template into an `buttons.spec.html` file. It won't work if you try to `templateUrl: './buttons.spec.html'` in `ButtonMockComponentTestHost`

[2017-11-10 21:42] #4 closed

[2017-11-10 22:19] nording commented on #3
I have figured out what's causing this error. Angular CLI uses Angular Compiler to compile files. The current UI-jar release (beta-8) is missing the required metadata.json files which include the metadata for the decorators it need. This is why the "ERROR in UIjarModule is not an NgModule" appears.

I will add the required metadata.json files in "beta-9"-release. That will fix this issue.

[2017-11-11 16:47] nording commented on #5
This should be working now.

[2017-11-11 16:47] #5 closed

[2017-11-11 19:53] nording opened #7 "Add possibility to use "templateUrl" in a test host component"
At the moment, you can only show a test host component that uses an inline template.
Add possibility to use a test host component that uses a relative "templateUrl".

[2017-11-11 19:55] nording commented on #6
I created a new issue #7 regarding the templateUrl.

[2017-11-12 19:19] kroeder commented on #6
Thanks, I'm closing this since it's solved.

[2017-11-12 19:19] #6 closed

[2017-11-13 08:13] kroeder opened #8 "Add test host content as additional tab might be useful"
We already see the html of our test host component when clicking the `< >` Icon but often times I find it pretty useful to see the test code implementation as well (in this case our test host component)

This would allow straight forward copy&paste of working code examples

Example:

[code]

[2017-11-13 10:09] kroeder commented on #2
I did a PR https://github.com/kroeder/ui-jar/pull/1

[2017-11-13 20:25] nording commented on #3
Beta-9 is released, closing this.

[2017-11-13 20:25] #3 closed

[2017-11-13 20:25] nording commented on #2
Beta-9 is released, closing this.

[2017-11-13 20:25] #2 closed

[2017-11-18 00:44] nording opened #9 "Add possibility to use HttpClientTestingModule for tests"
This will enable users to mock http-requests in UI-jar.

[2017-11-18 00:44] nording commented on #9
WIP

[2017-11-18 15:03] nording commented on #9
This will be available in beta-10.

[2017-12-04 19:37] #9 closed

[2017-12-04 21:17] kroeder commented on #2
I'm not sure why but your change does not work. My app had typescript ~2.4.2 as devDependencies and ui-jar caused npm install to install 2.6.x

I guess you have to define a range like this
`"typescript": ">=2.3.0 <2.4.2"`

2.4.2 is the latest 2.4.x version and the latest supported version by angular 5

[2017-12-04 21:43] nording commented on #2
Allright, I have updated that, in the next release it will be available. Thanks!
Not sure why you get that typescript version, I tried the Angular CLI example, then I got version 2.3.4 of typescript.
I'm curious, do you use an package-lock.json file for your dependencies?

[2017-12-13 21:25] nording commented on #8
I'm working on this, will try to fix it to next release.

[2017-12-19 04:15] kevincam3 opened #10 "Can't get this to work, could you provide more instructions."
Here's the error I'm getting.
![image](https://user-images.githubusercontent.com/870934/34140516-5d82b486-e462-11e7-9c82-3dc42359dea5.png)

[2017-12-19 08:10] nording commented on #10
Thanks for feedback!
Have you added "GameControlComponent" to any @NgModule in your app? And added "GameControlComponent" to the "exports" property in that @NgModule ?

Also do you have a test for your "GameControlComponent"?

[2017-12-19 09:23] saulide commented on #10
Had same problem, adding to the exports helped to overcome it

[2017-12-19 10:51] kevincam3 commented on #10
@nording, thanks for the input. So I only have one module in app.module.ts where I've added it
![image](https://user-images.githubusercontent.com/870934/34153500-7311080c-e499-11e7-8f3a-2c65e674faa1.png)

Do I need to change my code so that every component has its own module for it to work?

I have not created any test yet. So it sounds like that must be done as well, is that correct?

[2017-12-19 14:08] nording commented on #10
Allright I see!
No, you don't have to put each component in it's own module.
With your current setup you should only have to add a test to your "GameControlComponent", https://github.com/ui-jar/ui-jar/blob/master/README.md#test-code

Let me know if it doesn't work.
I will make sure to clarify the error messages!

[2017-12-20 11:48] kevincam3 commented on #10
@nording,

Thanks for that help, I think I'm at the final stretch. It's now at least generating the screen. It's missing the actual button html that's in the *.component.html file Here's the error I'm getting now:

![image](https://user-images.githubusercontent.com/870934/34205769-e4f9c306-e56a-11e7-8d8f-9614d38d3c08.png)

Here's what the screen looks like that it's generating.

![image](https://u

[2017-12-20 13:58] nording commented on #10
Allright, how does the other "tsconfig.json" that you extend your "tsconfig.app.json" look like?

[2017-12-20 14:20] kevincam3 commented on #10
@nording,

Here it is:
![image](https://user-images.githubusercontent.com/870934/34211407-1dd6ea72-e580-11e7-99d4-ff0cef78967f.png)

[2017-12-20 14:59] nording commented on #10
@kevincam3 I ment the "tsconfig.json" that is located in the root folder "cmp-databinding-start" :)

[2017-12-20 15:00] kevincam3 commented on #10
@nording ok here it is:

![image](https://user-images.githubusercontent.com/870934/34213250-cb14b8a4-e585-11e7-8a9a-5d5ca1de616a.png)

[2017-12-20 17:08] nording commented on #10
Okey, are you using Angular CLI 1.5 ?
Check out this comment, https://github.com/angular/angular-cli/issues/8284#issuecomment-341417325
Based on the error message it sounds like you might need to add the following in your "tsconfig.app.json".

`
...
"include": [
    "../src/**/*.ts"
]
...,`

[2017-12-20 17:20] kevincam3 commented on #10
I'm using Angular CLI 1.6
The site loads okay just running ng serve.
I added what you suggested and now there are new errors with the Typescript
![image](https://user-images.githubusercontent.com/870934/34219727-3ec9cc4a-e599-11e7-93c5-b44122d1b7dc.png)

[2017-12-20 17:27] nording commented on #10
Hm, does it work if you add the following to the same "tsconfig.app.json"?.

[code]

[2017-12-20 17:29] kevincam3 commented on #10
Still a no go:
![image](https://user-images.githubusercontent.com/870934/34220122-945b7978-e59a-11e7-8a0f-e2b633114089.png)

[2017-12-20 17:34] nording commented on #10
Okey, could you provide your .angular-cli.json that is located in your root folder? I would like to check if it has the correct setup.

[2017-12-20 17:36] kevincam3 commented on #10
Ok, here it is:
[angular-cli.zip](https://github.com/ui-jar/ui-jar/files/1576493/angular-cli.zip)

[2017-12-20 17:43] nording commented on #10
It looks correct, I will give it a try with Angular CLI 1.6, to see if I can reproduce it and hopefully give you a correct answer :)

[2017-12-20 17:43] kevincam3 commented on #10
Ok, thanks.

[2017-12-20 17:57] nording commented on #10
Allright I could reproduce it.
This fixed the issue for me, also add this to the same "tsconfig.app.json" file:

[code]

[2017-12-20 18:01] kevincam3 commented on #10
Ok that fixed it. Great, it compiles with no problem. So the last thing is to explain how I get it to show my button html code that in the /src/app/game-control/game-control.component.html file?

[2017-12-20 18:05] nording commented on #10
Okey good! Could you provide a screenshot of your test file for "/src/app/game-control/game-control.component.ts"? I would like to verify that the setup is correct.

[2017-12-20 18:10] kevincam3 commented on #10
Ok here it is:
![image](https://user-images.githubusercontent.com/870934/34221740-4c32aaee-e5a0-11e7-8dd1-aa12c6aab529.png)

[2017-12-20 18:14] nording commented on #10
Allright, you have one test there, just add the following to the "it" function.

If you wan't a custom title that describe the example:
[code]

Or if you don't want to add any title, just add this:
[code]

[2017-12-20 18:22] kevincam3 commented on #10
Ok, this is great, we now have buttons, thanks a bunch for you help. Is there any way to get it to pull in the styling that's being applied to the button? Since this styling is part of the component and not global or external styling.

Here's what they look like when rendered from ng serve:

![image](https://user-images.githubusercontent.com/870934/34222137-af3ec72a-e5a1-11e7-9238-27d368c974b4.png

[2017-12-20 18:29] nording commented on #10
It should load your styling as well (if you have a reference to it in your component), verify that there is not any cached result you get in the browser.

[2017-12-20 18:35] kevincam3 commented on #10
Ok, you're right, I just tested it. I forgot that it's using the global bootstrap css. This is great. Thanks a lot, I'll keep playing with it and any questions I'll reach out to you. Have a great day.

[2017-12-20 19:15] nording commented on #10
Let me know if you have any questions!

[2017-12-20 19:21] #10 closed

[2018-01-16 03:10] patcat opened #11 "Any way to have HTML view for components show dynamic values used to generate it?"
Been experimenting with ui-jar and was super happy to have gotten it to work! However, there's one thing that seems odd to me.

When clicking `< >`, we see the HTML for each component. However, if dynamic values are used, such as this in your sample app:

[code]

which when clicking the `< >` icon, shows:

[code]

What would be better would be:

[code]

Not sure if this might have an alternate sol

[2018-01-16 08:59] nording commented on #11
Thanks for feedback!
The `<>` view is updated a bit according to #8, it will display component code together with template code in the next version. Then you will be able to see the bindings to each property :)

[2018-01-30 08:57] ndelangen opened #12 "Collaborate with Storybook"
Hi @nording

This project of yours looks amazing!
I'm a maintainer of storybook, which started support Angular recently. I'm wondering if you would be interested in working together?

[2018-01-30 18:21] nording commented on #12
Hello @ndelangen
Thanks! I would like to know more about it, what kind of collaboration do you have in mind? Do you have a specific idea?

[2018-01-30 22:27] nording commented on #8
Beta 12 is released, closing this as the feature is included in it.

[2018-01-30 22:27] #8 closed

[2018-01-30 22:27] nording commented on #11
Beta 12 is released, closing this as the feature is included in it.

[2018-01-30 22:27] #11 closed

[2018-01-31 20:20] ndelangen commented on #12
@nording We have a few Angular experts and maintainers in the team. I'd love to add people to the team with Angular and style-guide experience.

Would you be interested in applying your expertise on storybook?

We're on a mission to make storybook a tool for everyone, no matter which framework users use, with loads of addons which can be used by all.

If you want to talk about it more, please join

[2018-02-02 17:35] nording commented on #12
Alright, at the moment I have a few other projects that I'm working on as well, so it might be hard to find the time for one more, but I will think about it. Appreciate that you ask me!

[2018-02-02 17:35] #12 closed

[2018-02-13 16:55] Karankang007 opened #13 "Hide private properties from API section"
Thanks for creating this great library. Is their a way to exclude private component properties from the API documentation?

[2018-02-13 19:18] nording commented on #13
Thanks! By default all private properties should be hidden in the API documentation.
It might be a bug if you see private properties in the API documentation, could you provide an example component where you see private properties in the documentation?

[2018-02-13 19:53] nording opened #14 "File watcher is not working properly on Windows 10 and MacOS"
In some cases the file watcher does not recognize file changes in test files.

[2018-02-13 20:45] Karankang007 opened #15 "API Properties for exteded classes are ignored"
If a component extends another component, input bindings and other properties for base component are ignored.

[2018-02-13 22:06] nording commented on #15
Thanks for the report! I will fix this, it will be fixed in the next release. WIP

[2018-02-14 15:24] Karankang007 opened #16 "HostComponent in seperate file is not showing up in Example container"
If the component referenced by @hostcomponent attribute is extracted out of the spec file, the example container no longer shows the code for it.

The host component still gets compiled and the output is shown in the DOM, but the actual code for the host component no longer shows up in the example container. This is what is shown instead:

[code]

[2018-02-14 22:47] nording commented on #16
I will take a look at this one!

[2018-02-15 02:14] Karankang007 commented on #16
This seems to be happening because only inline components get searched for example host component.
It should fallback to use the file path of the component in the import references at the top of the file to create the host component usage block.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-15 02:15] Karankang007 commented on #16
I will issue a pull request if time permits.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-15 17:00] Karankang007 commented on #7
This works without any changes if the host component is moved to a separate file.

[2018-02-15 21:17] nording commented on #16
You are absolutely right! I have created a working solution with this locally, but it requires a bit of refactoring to make it more simple to maintain. I will make sure this get shipped in rc-1 (which I plan to release in the beginning of next week).

[2018-02-15 21:18] nording commented on #7
Yepp thats right! The solution is to make sure both inline and in separate file works :)

[2018-02-16 13:09] Karankang007 commented on #16
Great, thanks

[2018-02-20 21:25] nording commented on #16
RC-1 is now released!

[2018-02-20 21:25] #16 closed

[2018-02-20 21:25] nording commented on #15
RC-1 is now released!

[2018-02-20 21:25] nording commented on #14
RC-1 is now released!

[2018-02-20 21:25] #14 closed

[2018-02-20 21:25] nording commented on #7
RC-1 is now released!

[2018-02-20 21:25] #7 closed

[2018-02-21 11:31] nording commented on #13
@Karankang007 could you provide an example component to reproduce this?

[2018-02-21 16:31] Karankang007 commented on #16
Thanks for the fix, this appears to be working now.

[2018-02-21 18:02] Karankang007 commented on #13
[code]

[2018-02-22 19:24] nording commented on #13
Thanks for example! I have tried to reproduce it with that example but to me the only properties that is visible in the API-tab is the following:

* @Input() public text: string;
* @Input() public icon: string;
* @HostBinding('class.icon-btn') get btnClass()

Do you see the "private shape" property as well?

[2018-02-27 09:29] nording opened #17 "Add possibility to use multiple @hostcomponents"
It would be nice to be able to use different @hostcomponent for each tests.

[2018-03-04 21:53] nording commented on #17
WIP

[2018-03-11 19:12] nording commented on #17
v1.0.0 is released, feature is available in v1.0.0.

[2018-03-11 19:12] #17 closed

[2018-03-20 21:42] nording opened #18 "Make it optional to declare test module definition as a variable declaration"
Today you need to create a variable declaration with the test module definition as following:
[code]
It would be nice if the following also works:
[code]

[2018-03-20 21:42] nording commented on #18
WIP

[2018-03-21 07:43] nording opened #19 "Verify support with Angular v6"
Make sure UI-jar is working correct with v6 of Angular (v6 is not release yet but v6 is in RC).

https://github.com/angular/angular/blob/master/CHANGELOG.md

[2018-03-21 14:03] Karankang007 opened #20 "Minification Safety"
The generated appData and its usage in getBootstrapComponent is not minification safe as it is trying to do lookup based on function name.

During minification the function names get shortened, and componentRefs property of appData no longer contain relevant infomration.

To test, use can use Angular CLI:
ng build --prod --aot=false

[2018-03-21 19:23] nording commented on #20
Thanks! I will take a look at it :)

[2018-03-22 15:35] Karankang007 commented on #13
Right, in this case, i was not expecting the btnClass property to be available in the API-tab.

[2018-03-22 15:52] Karankang007 commented on #15
I can still reproduce this in v1.0.0

[2018-03-22 18:36] nording commented on #13
Allright, if the property/method doesn't have a specified modifier, it is marked as public, therefore it is visible in the API-tab.

[2018-03-22 18:44] nording commented on #15
@Karankang007 Could you provide an example component to reproduce this?

[2018-03-22 20:26] nording commented on #20
A fix will be available in the next release v.1.1.0

[2018-03-22 23:47] Karankang007 commented on #15
Hi @nording, do you still need an example to repro this?

[2018-03-23 17:22] zizizi17 opened #21 "Bundle weight of the app"
Hello.
Will all the components created as the test components included to the main bundle of the application?
Won't it make it has bigger size?

[2018-03-23 17:47] nording commented on #21
Hi @zizizi17!
You don't bundle UI-jar and your test components together with your main app.
UI-jar is a separated app from your main application.

Therefore UI-jar won't make your main app size bigger.

[2018-03-23 17:52] zizizi17 commented on #21
Correct if I am wrong, please. I create test components in my main application?

[2018-03-23 17:56] nording commented on #21
Yes, you create your test components in your main application. But you should not bundle your test components in your main application. Only bundle the components you use in your main application.

[2018-03-23 18:06] zizizi17 commented on #21
Well done.
Thank you.

[2018-03-23 19:55] #21 closed

[2018-03-25 18:37] nording opened #22 "File watcher shut down if the test setup is invalid in test files"
If you are using the file watcher and make changes in test files where the UI-jar setup is not correct, the file watcher shut down.

[2018-03-27 19:48] nording commented on #22
v1.1.0 is released!

[2018-03-27 19:48] #22 closed

[2018-03-27 19:48] nording commented on #20
v1.1.0 is released!

[2018-03-27 19:48] #20 closed

[2018-03-27 19:49] nording commented on #19
v1.1.0 is released!

[2018-03-27 19:49] #19 closed

[2018-03-27 19:49] nording commented on #18
v1.1.0 is released!

[2018-03-27 19:49] #18 closed

[2018-03-28 02:14] Karankang007 commented on #20
Great, thanks for getting to this so quickly.

[2018-03-28 07:01] nording commented on #20
Thanks a lot for your report! :)

[2018-03-29 10:02] zizizi17 opened #23 "Module not found on running the task"
Hello.
I got the errors while running start-ui-jar-example script.
_ERROR in ./node_modules/ui-jar/dist/src/app/app.module.js
Module not found: Error: Can't resolve '../../../temp/__ui-jar-temp' in 'E:\work\portal\node_modules\ui-jar\dist\src\app'_
![1](https://user-images.githubusercontent.com/10571073/38083127-6ad08922-3351-11e8-8d0c-64a46c402a90.PNG)
Can you recommend what i do wrong?

[2018-03-29 10:32] nording commented on #23
Is that the complete stacktrace? Does it say something about "Generated resources completed" before?

[2018-03-29 10:46] zizizi17 commented on #23
Yes, it says such

Cannot read property 'extendClasses' of undefined
** NG Live Development Server is listening on localhost:4200, open your browser on http://localhost:4200/ **

And then info about chunks and ERROR

[2018-03-29 10:59] nording commented on #23
Allright, what version of UI-jar is installed? What version of Angular CLI are you using?

[2018-03-29 11:03] zizizi17 commented on #23
angular-cli is 1.6.1 version, ui-jar: 1.0.0

[2018-03-29 11:04] nording commented on #23
Okey, does the error also occurs with UI-jar version 1.1.0?

[2018-03-29 11:08] zizizi17 commented on #23
Yeap, the same issue

[2018-03-29 11:27] nording commented on #23
Are you using the Angular CLI example right out of the box or have you made any changes? If, what changes? This will help me to repro this.

[2018-03-29 11:34] zizizi17 commented on #23
I haven't done any changes. I just copied the ui-jar folder and scripts from package.json

[2018-03-29 11:39] zizizi17 commented on #23
Where the error with Cannot read property "extendClass" of undefined be caused?

[2018-03-29 11:42] nording commented on #23
Have you added any UI-jar annotation to your components you would like go view and the test to them? (The reason the error occurs may be that)

[2018-03-29 12:07] zizizi17 commented on #23
Can you add here the example?
I added the @component & @group annotation to the component, but I add no tests for component.

[2018-03-29 12:21] nording commented on #23
Okey check out https://github.com/ui-jar/ui-jar/blob/master/README.md#example-usage-basic and the test code there.

[2018-03-29 12:48] zizizi17 commented on #23
But how can it be?
I removed all the annotation from the example, Button component, from test and it runs properly. And in my case I cannot event start the app

[2018-03-29 13:02] nording commented on #23
Not sure, i'm trying to repro this but I have not found the case yet. Is the source code to your project closed or is it available somewhere? I would like to find a case where I can repro this.

[2018-03-29 13:03] zizizi17 commented on #23
It is closed repo((

[2018-03-29 13:15] nording commented on #23
I found a way to reproduce it! :) will fix it!

[2018-03-29 13:17] zizizi17 commented on #23
Can i fix it by myself for my project?
If no, when there will be update?

[2018-03-29 13:27] nording commented on #23
I could reproduce it when I created a interface that extend another interface. If you wan't you could download the master, build it and try it from there. Otherwise I will try to release a new version later this week.

[2018-03-29 13:58] zizizi17 commented on #23
It still does not work((

[2018-03-29 14:04] nording commented on #23
Do you get same error or other?

[2018-03-29 14:27] zizizi17 commented on #23
A bit another
![2](https://user-images.githubusercontent.com/10571073/38094469-7b5f79a4-3376-11e8-9da5-dac28b1cd756.PNG)

[2018-03-29 15:25] nording commented on #23
Allright, I think I got that error message with a version of Angular CLI, worked when I updated Angular CLI. Could you try that? This thread Night help you https://github.com/angular/angular-cli/issues/8036

[2018-03-29 16:50] nording commented on #23
Have you added UI-jar as an app to the config in your angular-cli.json?
See example app config herr:
https://github.com/ui-jar/ui-jar/blob/master/examples/example-app-with-angular-cli/.angular-cli.json
Does it work then?

[2018-03-30 06:55] zizizi17 commented on #23
Do you mean the downgrading of the @angular/cli?

[2018-03-30 08:15] nording commented on #23
There was a few different tips there, not sure if they work (look like the "Field 'browser' doesn't contain a valid alias configuration" is a bit hard to derive).

I have been working on trying to repro the last error you get,
Step 1: I created a new Angular CLI project (Angular CLI 1.7.3)
Step 2: Copied UI-jar folder from the angular-cli-example
Step 3: Copied run config in package.json "ui-jar &

[2018-03-30 08:41] nording commented on #23
I did try one more thing:
Copied the "src/app/ui" folder with example components from angular-cli-example to test-project.
Then when I started it, I got the following errors:

[code]
I could resolve that by adding following to file "ui-jar/tsconfig.app.json":
[code]

Have you tried that?

[2018-03-30 11:34] zizizi17 commented on #23
Anyway it has the error with the 'browser'

[2018-03-30 12:17] nording commented on #23
Have you tried a clean setup with Angular CLI? Do you have any problem of you create a new project as i describe above and just copied the examples? (Trying till find out when the problem occurs)

[2018-03-30 13:23] zizizi17 commented on #23
I don't know how, but it started to work

[2018-03-30 13:27] nording commented on #23
Great! Let me know if you find out what you did :)

[2018-03-30 14:05] zizizi17 commented on #23
As I can judge, I did not add the environments folder in the ui-jar.

[2018-03-30 14:31] nording commented on #23
Allright thanks! It's great to know if someone else get same problem.

[2018-03-30 15:29] zizizi17 commented on #23
Okay, one more question.
I launch the ui-jar and got the error about "cannot find module ...". And it's all the imports in all the files across the app.
I think that it can be related to the baseUrl, maybe, you got the same error?

[2018-03-30 15:42] nording commented on #23
Do you get that error message in your browser console?
Are we talking about the baseUrl in tsconfig.app.json?
Have you change it to any specific other than "./" ?

[2018-03-30 16:20] zizizi17 commented on #23
I got error messages in the console.
Yes, we talk about tsconfig.app.json in the ui-jar folder.
I changed it to the "../", because I have the absolute path in the imports through application.

[2018-03-30 17:41] nording commented on #23
Allright, I will take a look at that regarding absolute paths! At the moment all paths is resolved relative to file location, but it should respect if other is specified in tsconfig.

[2018-03-31 09:32] nording commented on #23
I have tried to repro your problem with absolute paths,
The repro project has the following structure:
[code]
I added one absolute import path to src/app/abc/abc.component.ts:
[code]
My ui-jar/tsconfig.app.json file:
[code]
Then when I started with "npm run start-ui-jar-example" I got the following error message in console:
[code]

I could fix it by doing this:
[code]
Then when I restarted "npm ru

[2018-03-31 18:07] zizizi17 commented on #23
Yes, it works perfectly now.

Can i contact with you in some social network, I have a few questions more. It would be much quicker to communicate?

[2018-03-31 19:13] nording commented on #23
Great! My Twitter is @knording - send a message over there.

[2018-03-31 19:15] nording commented on #23
I'm closing this, I released v1.1.1 today, it is available on npm!

[2018-03-31 19:15] #23 closed

[2018-03-31 19:20] nording commented on #13
@Karankang007 Are you satisfied with the answer? :) Is it ok to close?

[2018-04-02 19:54] Karankang007 commented on #13
Yes, @nording, this can be closed.

[2018-04-02 19:59] Karankang007 commented on #15
**Base Component:**
[code]

**Derived Component**
[code]

[2018-04-03 06:31] #13 closed

[2018-04-03 06:35] nording commented on #15
Thanks for repro example!

[2018-04-08 13:33] nording commented on #15
I'm trying your example, when I'm setting "value" and "color" in the test I see both color and value properties in in the example. It's also available in "view-source", in API-tab I see "@Input() color" and "@Input() value".

@Karankang007 Could you provide the test you use to repro this?

The test code I used is this:
[code]

[2018-04-10 19:07] nording opened #24 "View-source tab is displaying wrong value if a function is used in template"
The example is working and is using correct value, but "view-source" tab is displaying "undefined" as example code to function.

See following example with test host:
[code]
Is displayed as following in "view-source" tab:

[code]

[2018-04-11 03:10] Karankang007 commented on #15
@nording

I have created a repository for you to see this issue: https://github.com/Karankang007/uijar-example-1

The progress bar component uses  a base class with color input.

The API tab for UI-Jar is not show the "color" input property.

[2018-04-11 11:19] zizizi17 opened #25 "Import third-party modules to UIJarModule"
Hello.
I want to know if it's possible to import third-party modules to the UIJarModule before bootstrapping?

[2018-04-11 20:03] nording commented on #25
You can import extra modules to your test module setup. All imports that you add to your test module will be used to view your example.

[2018-04-11 20:03] #25 closed

[2018-04-15 15:14] nording opened #26 "styleUrls in test host component is not resolved"
If a test host component has styleUrls in component setup, the styleUrls is not resolved which generate an error when viewing component in UI-jar.

It should be possible to use styleUrls in test host components.

[2018-04-17 16:47] zizizi17 opened #27 "Enable the ability for documentation of the css classes as part of the ui-jar app"
Hi. Can we discuss the next feature?
Enable the ability for documentation of the css classes as part of the ui-jar app

[2018-04-17 17:38] nording commented on #27
Hello,
Do you mean to view example of CSS-class usage? Like h1, h2 etc. stylings - on parts that is not an Angular component or directive?

[2018-04-17 19:14] zizizi17 commented on #27
Yes, exactly so

[2018-04-17 19:41] nording commented on #27
It's possible to achieve that if you create a test host component that display the different kind of CSS examples you have. In next version (1.1.2 which I will release tomorrow) you also can use styleUrls in test host components. Then you only have to import your CSS to your test host component.

[2018-04-19 10:31] zizizi17 opened #28 "HotReload does not work when the test code is changed"
Hi. I faced the issue.
HotReload does not work when the test code is changed.

[2018-04-19 10:58] zizizi17 opened #29 "Create the custom template for app"
Is it possible to create the custom template for the main page of the application?

[2018-04-19 12:21] zizizi17 opened #30 "Possibility to use the markdown in the @description"

[2018-04-19 16:35] nording commented on #28
Hello,
Do you start it with the --watch flag?

[2018-04-19 16:38] nording commented on #29
Do you mean the start page? Or general theme?

[2018-04-19 18:51] zizizi17 commented on #29
Both of them

[2018-04-19 18:52] zizizi17 commented on #28
Yes

[2018-04-19 19:59] nording commented on #15
Fix is available in v1.1.2 - now available at npm!

[2018-04-19 19:59] #15 closed

[2018-04-19 19:59] nording commented on #24
Fix is available in v1.1.2 - now available at npm!

[2018-04-19 19:59] #24 closed

[2018-04-19 19:59] nording commented on #26
Fix is available in v1.1.2 - now available at npm!

[2018-04-19 19:59] #26 closed

[2018-04-19 20:02] nording commented on #28
Allright, the script "start-ui-jar-example" from example project is not using the --watch flag.
I'm closing this - reopen if you see same issue when you use --watch flag.

[2018-04-19 20:02] #28 closed

[2018-04-19 20:03] nording commented on #27
v.1.1.2 is now available at npm.

[2018-04-19 20:06] nording commented on #29
It's possible to create custom CSS-theme, just replace the default one with yours.
The start page is currently not available to change with custom template - but sounds like a good idea!

[2018-04-20 18:44] Karankang007 opened #31 "Proper failure if failed to generate resources"
**Versions**
UI-JAR: 1.1.2
NPM: 3.10.10

**Problem**
Currently if UI-JAR fails to generate resources, the NPM script execution continues to run. It should throw a proper exception or abort the node process if resource generate failed.

[code]

[2018-04-20 18:59] nording commented on #31
Thanks for the report! Does it work to generate with UI-jar v1.1.1?

Could you make a temporary fix local in node_modules/ui-jar/src/init/init.js where the try catch with "Failed to generate resources." is logged? And show the error message so that I can check it out.

[2018-04-20 21:54] Karankang007 commented on #31
Hey @nording, i was able to reproduce this in previous versions as well.

I will post the actual error shortly.

[2018-04-26 18:17] nording commented on #31
@Karankang007 Do you have the possibility to post your actual error? Then I can try to fix it!

[2018-04-26 18:18] #27 closed

[2018-05-09 22:02] nording commented on #31
Release v.1.1.3 is available at npm.

[2018-05-09 22:02] #31 closed

[2018-05-25 00:24] karan-kang opened #32 "feature-request: Ability to add ReadMe files to componet examples"
It would be nice if we can link ReadMe.md files on per component based to provide detailed documentation.

At the moment, the documentation generation is fairly limited to API docs and brief comments.

[2018-05-25 15:06] nording commented on #32
Great idea!

[2018-05-31 19:18] herrjosua opened #33 "Module build failed: Error: /Users/herrjosua/WebstormProjects/ui-docs/src/app/ui/buttons/button.component.ts is not part of the compilation. Please make sure it is in your tsconfig via the 'files' or 'include' property."
I'm trying to integrate ui-jar into my work project, but I keep getting the same error no matter what I try. The error I'm getting is `Module build failed: Error: /Users/herrjosua/WebstormProjects/ui-docs/src/app/ui/buttons/button.component.ts is not part of the compilation. Please make sure it is in your tsconfig via the 'files' or 'include' property.`.

I'm not sure how to resolve this issue. Th

[2018-05-31 19:55] nording commented on #33
Does it work of you add following to your "tsconfig.app.json" in your /ui-jar directory?

...
"exclude": [
    "test.ts",
    "**/*.spec.ts",
    "../**/*.spec.ts" , <-- add this line
],
"include": [
    "**/*.ts",     <-- add this line
    "../src/**/*.ts" <-- add this line
]
...

[2018-06-01 15:01] thomasbottonari opened #34 "The watcher does not appear to be working for spec files"
The watcher appears to be working for me when I modify the component files themselves, but if I modify the ui-jar specfile it does not rebuild automatically.

[2018-06-01 15:57] nording commented on #34
Could you provide your script config where you start with watcher enable?

[2018-06-01 20:58] thomasbottonari commented on #34
These are the scripts I am using to launch ui-jar. I am not calling --watch, but I noticed if I added `--watch` to the `ui-jar` script, it just hangs saying 'Watching for file changes.' It never actually boots up.
[code]
Below is an example of when I was adding `--watch`
[code]

[2018-06-04 13:44] thomasbottonari commented on #34
I tried both of those methods, and while it says `Watching for file changes.` I haven't seen it rebuild when I save a spec file. Below are my two scripts, does something look incorrect to you?
[code]

[2018-06-04 17:35] nording commented on #34
You are right! This is a bug, I found a way to repro it.
I have fixed it in master, I will try to release a fix on npm later this week.
Until next release a workaround is to do as follow where you define your test module setup:
[code]

instead of:
[code]

After next release, the later will work with --watch mode enabled as well.

[2018-06-08 18:31] thomasbottonari opened #35 "Support for entryComponents?"
I am trying to add a component to my UI-Jar project that creates another component dynamically, and as such requires that I add that dynamically created component to the module's `entryComponents` array. Obviously there isn't support for `entryComponents` in `TestBed.configureTestingModule`, but I've had success in the past in my normal unit test spec files by doing the following after calling `co

[2018-06-09 09:29] nording commented on #35
Thanks for the detailed issue! For now that is not supported yet, but it should be added. Sounds like a great thing to support!

[2018-06-09 12:03] Karankang007 commented on #35
I was able to get this working. Basically, you have to create another TestEntryModule with the declaration,export, and entry components.

And then import this TestEntryModule in your TestModule.

[2018-06-09 13:00] nording commented on #35
@Karankang007 nice tips! I did not think about that solution :)

[2018-06-11 12:48] thomasbottonari commented on #35
Thanks for the quick response. I had tried this myself but kept getting an error stating `Uncaught ReferenceError: PopoverModule is not defined`, even though I am clearly defining it in the same file. Below is the snippet of code in question. Do you see any issues?

[code]

[2018-06-11 19:23] nording opened #36 "NgModule declared inside test file is not defined correct"
If a NgModule is declared inside test file (inline) it is not defined correct when generating resources.
It then throws an error "Uncaught ReferenceError: XXXXXModule is not defined" when showing example.

[2018-06-11 19:27] nording commented on #35
@thomasbottonari That's a bug, I created #36.
A workaround is to declare your "PopoverModule" outside the test file, then it will be defined correct.

[2018-06-12 14:28] thomasbottonari commented on #35
Great, this worked for me. Thank you!

[2018-06-18 16:51] Karankang007 opened #37 "Generated App does not work in IE 11"
The demo website does not work in IE11, due to this error:
[code]

This only happens if any example is setting property on the component directly as part of the spec file.
**UI-JAR CL seems to be generating duplicate property metadata.**

For e.g.: The progress-bar component in UI-JAR Angular CLI example is generating this metadata:

[code]

As you can see above, the following properties are being

[2018-06-18 20:12] nording commented on #37
Thanks a lot for the detailed issue! I have pushed a fix to master, it will be available in next release - later this week.

[2018-06-19 18:45] nording commented on #37
Release v1.1.4 is now available at npmjs!

[2018-06-19 18:45] #37 closed

[2018-06-19 18:45] nording commented on #36
Release v1.1.4 is now available at npmjs!

[2018-06-19 18:45] #36 closed

[2018-06-19 18:46] nording commented on #34
Release v1.1.4 is now available at npmjs!

[2018-06-19 18:46] #34 closed

[2018-06-19 18:49] nording commented on #32
@Karankang007 Do you request any specific format to documentation in a readme.md file? like markdown or is just plain text good enought?

[2018-06-19 23:31] Karankang007 commented on #32
@nording

Adding markdown support will definitely be more beneficial than plain text

This should be easy to support using existing open source parser like [marked](https://www.npmjs.com/package/marked), etc.

[2018-06-20 05:48] nording commented on #15
Fix for base classes with generics is available in v1.1.4.

[2018-06-20 05:55] nording commented on #32
Thanks! Going to check that library out.

[2018-06-20 19:11] zizizi17 commented on #29
Hi! Is there any update about this feature?

[2018-06-20 19:14] zizizi17 opened #38 "Using of ngx-translate in the component"
Hello. I need help with the injecting the ngx-translate module in the tests cases, so that I it results in the translated text(that is used in the component that i describe template) as the result?

[2018-06-21 06:15] nording commented on #38
Could you provide your test setup for the specific case?

If you import ngx-translate module in your test module config it will be used with each example. Following link might help with test setup https://github.com/ngx-translate/example/blob/master/src/app/app.component.spec.ts ?

[2018-06-21 06:17] nording commented on #29
Not at the moment, planned for later release!

[2018-06-21 06:29] zizizi17 commented on #38
`
/**
         * @uijar TestComponent
         */
        TestBed.configureTestingModule({
            imports: [
                TranslateModule.forRoot({
                    loader: {
                        provide: TranslateLoader,
                        useFactory: (InitTranslateLoader),
                        deps: [HttpClient]
                    }
                })
            ],

[2018-06-21 15:48] nording commented on #38
Allright, I will try to repro it.

[2018-06-24 19:58] zizizi17 commented on #38
@nording Have you tried it?

[2018-06-26 06:16] nording commented on #38
Could you provide full repro case?

[2018-07-19 13:34] Karankang007 opened #39 "Slow navigation on page with large number of examples"
I have a navigation group with 5 examples.

When the user click on this navigation group, navigation is noticeably slower. Would it be possible to make the page rendering async?

Like using a timeout perhaps to load the examples one after another to prevent blocking the navigation?

[2018-07-28 22:37] nording commented on #39
A fix for this is available in master - it will be available via npm in the next release!

[2018-08-03 14:42] thomasbottonari opened #40 "I don't appear to be able to import the BrowserAnimationsModule"
I am creating an example file for a component that has an animation, and when I try to import either the BrowserAnimationsModule or the NoopAnimationsModule from `@angular/platform-browser/animations` I get the following error. I am also importing the `CommonModule`, but I am able to import both of these together in my regular spec files without an issue. Am I doing something wrong or is this a kn

[2018-08-06 12:54] thomasbottonari commented on #40
👍  thanks!

[2018-08-07 21:42] thomasbottonari opened #41 "Doing a fresh static build throws "Can't resolve '../../../temp/__ui-jar-temp'" error"
I am attempting to build our ui-jar project so that I can host it internally for our dev team. However, doing a fresh build (`ng build && node node_modules/ui-jar/dist/bin/cli.js --directory ./src/ --includes \\.ts$`) gives the following error:

[code]

What I noticed is that the temp folder in question does not exist until you run the ui-jar application the first time. However, I am creating a st

[2018-08-08 09:38] nording commented on #41
Try to switch order of the scripts, like this:
[code]
Does it works then?

[2018-08-08 13:13] thomasbottonari commented on #41
Thanks, that did the trick!

[2018-08-08 13:13] #41 closed

[2018-08-10 20:26] RobertCMusk opened #42 "When running configureTestingModule in beforeEach don't have access to local variables"
We use this pattern a lot in our tests so we know it normally works. We create a mock and instantiate it inside of the describe, we provide it instead of our normal service. This allows us to manipulate that service to return values we need.

It appears when UI-Jar compiles the components they are not in the scope of the describe so it does not have access to those mocks. because we get this type

[2018-08-28 20:43] nording commented on #35
Support for "entryComponents" is going to be available in next release!

[2018-09-06 05:49] paesku opened #43 "Running ui-jar in an NX setup"
@nording I like your approach running this tool within a test environment.
I tried to run it within an [NX](https://nrwl.io/nx) setup which has a slightly different structure than pure Angular CLI projects.

[code]

As a testing framework I'm using [jest](https://jestjs.io/).
To me it's not exactly clear, wherefore the exclude/include setup is and how it can match the expectations  within my setup

[2018-09-06 10:37] nording commented on #43
@paesku the exclude/include setup is to make sure your build tool include/exclude your real source files and not only search for them inside your "ui-jar" app folder.
Does this setup work for you?

[code]

[2018-09-06 11:01] paesku commented on #43
@nording since I want to have components from my **`lib2`** rendered, I reference them like this:

[code]

[2018-09-06 14:59] nording commented on #43
@paesku allright, do you get any error message when building?

[2018-09-06 22:40] paesku commented on #43
Unfortunately not. It's building straight away and the UI is showing up.
Any recommendations for where to start digging?

nording <notifications@github.com> schrieb am Do., 6. Sep. 2018, 17:00:

[2018-09-07 05:38] nording commented on #43
It sounds like you are missing some "ui-jar" comments in your code. Do you have this in your code?
https://github.com/ui-jar/ui-jar/blob/master/README.md#example-usage-basic

[2018-09-10 18:48] paesku commented on #43
Yes comments in the component class as well in the spec file are there.

package.json:
[code]

[2018-09-20 11:54] philippschladitz commented on #40
When exactly is the next release happening?

[2018-09-20 17:46] nording commented on #40
I just did a release at npm, v1.1.5 is available there (with fix for this issue).

[2018-09-20 17:46] #40 closed

[2018-09-20 17:47] nording commented on #39
A new release is available at npm (v1.1.5) with a fix for this issue.

[2018-09-20 17:47] #39 closed

[2018-09-20 17:47] nording commented on #35
A new release is available at npm (v1.1.5) with a fix for this issue.

[2018-09-20 17:47] #35 closed

[2018-09-23 10:27] picomis commented on #43
I use nx and generated the docs app with this tsconfig.app.json:
[code]

NPM scrips:
[code]

Works as expected.

[2018-09-23 14:38] paesku commented on #43
@picomis thank you pointing me in the right direction.
First I referenced my app's path for ui-jar instead the `./libs/` path.
Second I missed the comment in my component to group it within the sidebar:

[code]

Thanks all for help.

[2018-09-23 14:38] #43 closed

[2018-10-03 17:08] nording opened #44 "Parsing issue occurs with special characters"
Refactor test parser to fix issue with parsing when special characters are included.

[2018-10-03 18:35] nording opened #45 "Replace usage with RouterTestingModule in test with RouterModule when viewing examples"
When viewing example in UI-Jar, make sure we replace usage of RouterTestingModule in test with the original RouterModule, otherwise will components that require Router service not work.

[2018-10-04 18:30] #45 closed

[2018-10-04 18:30] #44 closed

[2018-10-13 12:52] nording opened #46 "Examples cannot be loaded if @Injectable, @Pipe and @Directive is declared inside test file"
All classes (with and without decorators) declared inside test file should work, not just "NgModule" and "Component" decorated classes.

[2018-10-31 12:13] picheli20 opened #47 "Watch mode not reloading"
I'm trying to implement this project in my development flow, but without the watch mode will be almost impossible to check the component changes.

I've created an example based on https://github.com/ui-jar/ui-jar/issues/34, you can check the repo  https://github.com/picheli20/ui-jar/commit/b7b38bc12e39b3c5cd31d8684a2ec9bc64f39504
[code]

Basically just adding `--watch` doesn't trigger the live-rel

[2018-10-31 13:14] picheli20 commented on #47
After some investigation, looks like the watcher is not being called (https://github.com/ui-jar/ui-jar/blob/master/src/watcher/watcher.ts#L26), my OS is Ubuntu

[2018-10-31 13:30] picheli20 commented on #47
Just just one question out of curiosity, the watch mode doesn't re-build the component it-self? Just the description/examples for it?

[2018-11-01 19:57] nording commented on #47
The reason that the watcher only listening on changes in test files is because of performance. If the watcher listening on all files changes it will have to rebuild every time a change is triggered - and a rebuild build take some time.
The downside with the watcher not listening on all file changes is that your @description, @component and @group annotation won't update without a rebuild. I recomm

[2018-11-02 08:41] picheli20 commented on #47
@nording I understand, maybe we can create some kinda of options, if the change is in the component it-self (logic, template, notations) we can do a build for everything?

Will play around with the code and see if there's some reasonably solution :)

[2018-11-09 16:13] oponomarenko opened #50 "Import Bootstrap breaks down Ui-Jar page."
Steps to reproduce:
1) Install bootstrap to solution (npm install bootstrap).
2) Add bootstrap to angular.json styles section under ui-jar proj:
`"styles": [
             "node_modules/bootstrap/dist/css/bootstrap.min.css",
             "projects/ui-jar/src/styles.css"
           ],`
3) Run npm run start-ui-jar-example command

Actual result: Ui-Jar page is broken.
Expected result: Ui-Jar page isn

[2018-11-13 09:13] karthikRajDhandapani commented on #38
I have tried to include ngx-translate into the application, but in UI jar the below error is displayed
StaticInjectorError(UIJarModule)[MyService -> TranslateService]
Also attached screenshot with it
![translate_dependency_error](https://user-images.githubusercontent.com/44966146/48402732-5d182c80-e752-11e8-849b-03d600588142.png)

my-component.spec.ts

import {
    async,
    ComponentFixture,

[2018-11-13 14:07] karthikRajDhandapani opened #51 "Unable to inject HttpClient in the TestHostComponent"
I have tried to make http get request to a local file using HttpClient, but when injecting it in MyTestHostComponent received the following error

Error: Can't resolve all parameters for MyTestHostComponent: (?).

Also attached screenshots of the error

![httpclient error ui-jar](https://user-images.githubusercontent.com/44966146/48418246-cc097b80-e77a-11e8-9ed6-46b9d32c0434.png)

How do I add my

[2018-11-13 14:41] nording commented on #51
Check out this example - https://github.com/ui-jar/ui-jar/blob/master/README.md#example-usage-test-with-httpclienttestingmodule

[2018-11-13 21:33] nording commented on #38
I tried this example https://github.com/ngx-translate/example/blob/master/src/app/app.component.spec.ts and got it to work if I mocked the JSON-file with locale.

ngx-translate-example.component.ts
[code]

ngx-translate-example.component.spec.ts
[code]

[2018-11-14 07:52] picheli20 commented on #47
I'll close it since it main issue was solved :) Just the live-reloading of the entire project is something that would help a lot, but what I understood now would be a bit hard to implement it for now

[2018-11-14 07:52] #47 closed

[2018-11-14 17:22] #46 closed

[2018-11-14 17:23] nording commented on #47
Allright! I have just published v1.1.7 on npm!

[2018-11-15 12:11] nording opened #52 "Cannot read property 'getTypeAtLocation' of undefined"
If you are using typescript 3.1.x the following error may occur "Cannot read property 'getTypeAtLocation' of undefined" on https://github.com/ui-jar/ui-jar/blob/master/src/generator/component-parser.ts#L429

Later typescript versions "getDocumentationComment" require "TypeChecker" as the first argument.

[2018-11-18 21:47] Maks-Yaremenko commented on #47
I can't get how to run watcher?... And why ui-jar won't rebuild everything on changes in my components from the common app.

[2018-11-18 22:56] Maks-Yaremenko opened #53 "Issue with build? (Angular 7)"
After all steps of installation and run application I have an empty ui-jar app on :4200 port. (No components there).
I added required comments: @group, @component inside component, and its spec file.
Run script again.. but nothing changes.
I tested multiple versions of ui-jar and find out that only combination:
[code]
I tried different ways to configure with --config and without... this is my pack

[2018-11-19 06:33] nording commented on #53
Make sure that you have all types you need.
Add this till tour tsconfig.app.json:
[code]

[2018-11-19 08:21] picheli20 commented on #47
@Maks-Yaremenko is what @nording said here: https://github.com/ui-jar/ui-jar/issues/47#issuecomment-435166690

At the moment is just reloading the tests, not the components, I've done as a temporary solution is comment out the rebuild filter, so you can re-load the components, till figure out a better solution :) You can check this commit: https://github.com/picheli20/ui-jar/commit/d4d83ba800e7939

[2018-11-21 19:19] #52 closed

[2018-11-22 13:29] OlegAtlanov opened #54 "Protected fields appear in API documentation"
Expected that we have only public properties and methods in API documentation, but protected present as well.

Steps to reproduce:

Add protected property to any components and you can see that this property is shown in API documentation.

Br, Oleh

[2018-11-23 05:33] nording commented on #54
Thanks for the issue!

[2018-11-23 05:36] nording commented on #50
Scheduled for next release!

[2018-11-23 20:24] thotty opened #57 "Services, Pipes, Directives..."
Has any plan to include `services`, `directives` and `pipes` like the `components`?

[2018-11-25 18:36] nording commented on #53
Check that you import needed modules in your test, the error you describe sounds like a missing module in "configureTestingModule" setup.

[2018-11-25 19:11] nording commented on #57
Directive, pipes and services are working if you have tests that include a test host.

[2018-11-26 09:11] iMarv opened #58 "Can't find tests; v1.1.6 and upwards"
Since v1.1.6, ui-jar does not seem to be able to find tests correctly.
Our test setup is rather complex, but worked out just fine with ui-jar 1.1.5

We are using a preparation function, which pre-compiles all components used in the test to speed up test files, looking like this:

test-helper.ts
[code]

And is used like this inside the describe block:

progress.spec.ts
[code]

Before v1.1.6, this w

[2018-11-26 09:26] picheli20 opened #59 "Hability to add dynamically .forRoot()"
Currently i'm creating a library with Ionic, which requires to use `IonicModule.forRoot()`, otherwise the component preview doesn't work properly (it resolves the component, but doesn't compile properly).

As a temporary solution I have to inject it manually on `main.ts` like:

[code]

Would be good have some class or auxiliary function to inject it properly :)

[2018-11-26 11:44] nording commented on #58
Where is "testModuleMetadata" declared?
Could you try if it's working if you do this:
[code]

[2018-11-26 12:53] iMarv commented on #58
Seems to work out.
We are running unit and integration tests separately, which means for us: only rendering the template in integration tests. As both share some dependencies (like the given component), we are reusing them. Which is also why you can pass multiple arguments to the helper function, those can stack up.

As I said, it worked before 1.1.6 so there must have been a change that was somew

[2018-11-26 14:41] picheli20 commented on #38
I'm using the `ngx-translate` without any issue, you just need to import the `TranslateTestingModule` in your `imports`, like for example:
[code]

[2018-11-26 15:05] picheli20 commented on #29
@zizizi17 you can update the colors after this PR: https://github.com/ui-jar/ui-jar/pull/55

For the home page we could use something like:

[code]

What you think @nording ? I can take a look and update the `IntroductionComponent`

[2018-11-26 17:45] nording commented on #29
@picheli20 that would be great! I'm doing some refactoring on other parts at the moment, but I guess it won't affect IntroductionComponent.

[2018-11-26 17:56] nording commented on #59
Sounds great! I'm doing some refactoring around this at the moment, can add this after that is completed!

[2018-11-26 17:59] nording commented on #58
Thanks for help with debugging! I think I know what I have broke.

[2018-11-27 06:38] nording commented on #57
Check this example with test host - https://github.com/ui-jar/ui-jar/blob/master/README.md#example-usage-with-test-host-component

This within your service file:
[code]

[2018-11-27 17:50] nording commented on #38
Thanks for example @picheli20 ! I'm closing this as it works with ngx-translate.

[2018-11-27 17:50] #38 closed

[2018-11-27 18:39] thotty commented on #57
I tried this..
My service not show in API documentation, but it's probably that I done some mistake..
I'll try again..

Thanks

[2018-11-27 19:54] ngaffer commented on #42
Any update on this or workaround? I'm also experiencing this issue.

[2018-11-27 20:32] picheli20 commented on #42
What I see the imports are extracted, it doesn't work as work around if you create some "mock" like:

[code]

Then you use this variable instead

[2018-11-27 21:39] ngaffer commented on #42
Sorry @picheli20, are you suggesting a workaround? I'm not sure I understand.

[2018-11-27 21:53] picheli20 commented on #42
Yup, it's a workaround @ngaffer, dunno the status for fixing this

[2018-11-28 17:17] nording commented on #29
@hughanderson4 Sounds like a good idea!
A workaround that works now if you just want to manage the title is to add following CSS:

[code]

[2018-11-28 20:39] hughanderson4 commented on #29
https://stackoverflow.com/a/49116319/213050

[2018-11-29 10:52] picheli20 commented on #29
@hughanderson4 nice! :) I'm adding as a config object, so it will be easier to add more fields.

[2018-11-29 11:33] picheli20 commented on #29
Unfortonetly it's not possible to pass the `ng-content` trough an bootstrap component :/ https://github.com/angular/angular/issues/4946, maybe for now i'll add on the config file as well and in the future we can refactor this part

[2018-11-30 03:07] hughanderson4 commented on #29
That's a real nice additional feature! Thanks for the great work.

I just want to say, what a fantastic concept, to use Unit Tests as the way to create UI-Jar examples.  Any time we can get extra value from writing unit tests, is a win-win.  Thanks for a great lib! 🍺

[2018-12-01 20:48] GeorgeTailorZooPlus opened #61 "Scss imports not supported"
I have a couple of files with some scss, which I import in some of my components.
The configuration in angular.json is as follows:
[code]

While in my component I have something like this:

`@import "variables";`

When I try to run `npm run start-ui-jar-example` I get the following messages:
[code]
And the process exists without starting the app.

Standard `ng serve` or `ng build` works fine.

[2018-12-02 13:36] GeorgeTailorZooPlus commented on #61
Sure.
https://github.com/GeorgeTailorZooPlus/ui-jar-angular-scss

[2018-12-02 13:47] GeorgeTailorZooPlus commented on #61
Sorry, I've added a couple of small fixes here and there.
I suspect that ui-jar ignores the following rule of schematics:
[code]

[2018-12-02 13:51] GeorgeTailorZooPlus commented on #61
Actually adding this option to `ui-jar` config in `angular.json` fixed the issue. Sorry, my bad.

[2018-12-02 18:08] nording commented on #61
Great that you solved it!

[2018-12-02 18:08] #61 closed

[2018-12-03 11:04] #29 closed

[2018-12-03 17:00] picheli20 commented on #57
@thotty did you managed? :) Maybe you are missing something on the spec files

[2018-12-05 13:10] Ledzz opened #64 "Host component does not work"
Hello! I'm trying to make simple test with custom host component. I've made a few tries, but it doesn't work: ` No component factory found for undefined. Did you add it to @NgModule.entryComponents?`

icon.component.spec.ts:
[code]

icon.component.ts:
[code]

[2018-12-05 14:36] Ledzz commented on #64
It's only in watch mode.

[2018-12-05 16:38] nording commented on #64
Could you provide full repo?

[2018-12-10 09:38] picheli20 opened #65 "Use native angular-devkit for building the application"
I'm facing some issues with the live re-load, sometimes it reloads twice (one cause I've changed the files and another when ui-jar finishes to run).

Maybe we can run the service overwritting the `@angular-devkit/build-angular:dev-server`, so we will be have better control on the application it-self.

The current dev-server: https://github.com/angular/angular-cli/blob/master/packages/angular_devki

[2018-12-10 20:19] nording commented on #65
What build setup are you using? Angular CLI, custom webpack build or some other?

I've expanded the reload time in my webpack configuration to solve duplicate builds.

[2019-01-18 15:43] thotty commented on #57
Hi, yeah... I managed!
I had to change my focus to other project.. But any way, thanks.

[2019-01-18 15:43] #57 closed

[2019-02-12 12:43] CinnamonRage commented on #53
What was the issue with the exclude? I am having similar issues, I get an empty UI-jar site with no found components.

[2019-02-12 12:47] Maks-Yaremenko commented on #53
Afaik it was related to ui-jar app config... i gave up go use it so... i dont remember all details...

[2019-02-13 11:20] CinnamonRage opened #67 "Directives not being found"
I have created a directive and updated it as follows:

[code]
and the corresponding test file looks like this:
[code]
However, when generating the documentation, I am getting the following message:
[code]
Any help would be greatly appreciated.

PS. I have tried with and without the `@hostcomponent` tag.

[2019-02-13 19:53] nording commented on #67
Make sure you are using TestBed and configure a TestingModule like this:

[code]

[2019-02-14 15:01] Benjy763 opened #68 "Impossible to customize"
Hello,
First of all congrats for the work and initiative for such an important tools like that.
I'm trying to customize the style and titles. I followed the readme but I don't know how it can work actually.
For the style, I imported the default file from dist but there is no variables inside ! So obviously it can't work.
You have the variable in dev mode in your repo but when all is built the gene

[2019-02-15 05:42] nording commented on #68
Hi,
The readme on github is what is available in master. The new "UIJarConfiguration" object will be available in next release. Check out how you can customize current version at npm - https://www.npmjs.com/package/ui-jar

[2019-02-15 10:01] Benjy763 commented on #68
Thanks for answer, indeed it was the readme from master...The next release will be cool :)
I looked on 1.1.8 and there is no clean solution about the customisation today...?

[2019-02-16 10:11] nording commented on #68
Yes, next release is going to allow more styling :) In 1.1.8 there is only possible to override CSS styling.

[2019-02-27 15:49] picheli20 opened #69 "How to deal with complex components?"
Hi! :)

This is not actually an issue, it's more a discussion that I would like to start regarding application general architecture for some complex cases.

Currently I'm using the UI-Jar for one main library and then other repos uses that lib ([this article](https://medium.com/@_fabiopicheli/library-with-angular-6-the-ultimate-guide-4bec31895808) show exactly how i'm doing). But sometime I ask my

[2019-02-27 15:50] picheli20 commented on #69
Also, @nording, maybe we can create an Slack for make easier to talk each other about this problems or solutions :)

[2019-03-13 20:52] nording commented on #69
@picheli20 Sorry for late answer, I have been very busy lately.

Do you mean that if you use HttpClientTestingModule in your tests and mock request result - then your components  doesn't render correct?

I'm using UI-Jar in a component library project, some component uses mocked request data when rendered as example. We are able to put everything in the unit tests files.

I have had som thoughts a

[2019-03-14 11:30] ThomasWeinert opened #70 "How to include jasmine?"
I am using jasmine.createSpyObj() in my tests/examples. But this results in an error in UI-Jar.

`__ui-jar-temp-module-689e6bd400733cf8e738d027a2ab7e31.js:19 Uncaught ReferenceError: jasmine is not defined`

What do I need to change to make jasmine available?

Here is an example to reproduce the issue:

### test.service.ts
[code]

### test.component.ts
[code]

### test.component.spec.ts
[code]

[2019-03-14 11:54] nording commented on #70
It look like you are using global dependencies in your test module definition.

[code]

Does it works of you add Jasmine as an import in your test file?

[2019-03-14 15:16] ThomasWeinert commented on #70
Yes, jasmine is a little special - it is always available in the tests. *afaik* Karma loads it.

Adding an `import 'jasmine';` to the spec file results in dependency error: `... Module not found: Error: Can't resolve 'fs' in ...`.

[2019-03-14 20:05] nording commented on #70
Hm, I'm not using Jasmine myself so I'm not sure how createSpyObj works, but is it possible to create the spy outside your configureTestingModule object? And then just dig something like this instead:

[code]

[2019-03-14 21:06] ThomasWeinert commented on #70
I got a step further by creating my own jasmine boot script and including it into `polyfill.ts`:

[code]

Now `jasmine.createSpyObj()` is available and works.  I modified the test component to use the mock.

### test.component.ts
[code]

Using the HTTPClient example from the readme I modified the spec file to provide it. It works fine in Karma, but the mock method is never initialized in UI-Jar.

[2019-04-04 12:29] vigneshikl commented on #53
Is this Issue resolved ? I have the same Issue!  @Maks-Yaremenko

[2019-04-05 04:37] nording commented on #53
@vigneshikl could you include an example with a repro?

[2019-04-08 06:18] vigneshikl commented on #53
@nording  I have pushed the sample code into git. please have a look. I am just using mat-card component.It  throws the error.
![UI-JAR-AngularMatIssue](https://user-images.githubusercontent.com/14275355/55702442-3950ce00-59f4-11e9-8dac-2f6b5b97b482.png)

**Code:**
[https://github.com/vigneshikl/example-app-with-angular-cli](url)

[2019-04-08 06:47] nording commented on #53
@vigneshikl thanks! It look like you is missing to import "MatCardModule" In your test setup:

 `TestBed.configureTestingModule({
      declarations: [ CardComponent, MyTestComponent ]
    }).compileComponents();`

Make sure to import it like this:

 `TestBed.configureTestingModule({
      imports: [MatCardModule],
      declarations: [ CardComponent, MyTestComponent ]
    }).compileComponents();`

[2019-04-08 06:52] vigneshikl commented on #53
Ya..I have added that too. But not fixing..(In the shared code i missed to include that)

[2019-04-08 09:03] vigneshikl commented on #53
You are rite @nording ! it is working fine.Thanks a lot!!!

[2019-04-25 17:59] #53 closed

[2019-04-25 19:27] nording opened #71 "Add support to show in which NgModule each component is declared in"
Make it easier to find what NgModule that is required to import when using a component

[2019-06-25 08:54] remybd opened #72 "Not able to use a service in Test Host Component"
Hello

I'm using Ui-Jar from 2 month now to create a library for a design system.
I'm trying to create toaster and I need a toaster manager service to manage the addition and deletion of the toasters.

So I have a simple classical service with a list of toasters inside. I have a toaster-container component subscribe to this service to be able to update in live the list of toasters.

Now, what I wa

[2019-06-28 07:50] nording commented on #72
Hello,

`@Injectable({ providedIn: 'root' })` is not supported yet.
Does it work of you add "ToasterService" as a provider in your test module setup? It might be a possible workaround until it is supported in UI-jar.

[2019-06-28 09:56] remybd commented on #72
Hello

Thansk for your answer

I try it like that :
`
  declarations: [
         TpzButtonComponent,
         TpzButtonPrimaryDirective,

        DefaultsToastersTestHost,
        ToasterContainerDefaultTimingTestHost,

        TpzToasterContainerComponent,
        TpzToasterComponent,
      ],
      providers: [
        TpzToasterService
      ]
`

And I remove
`@Injectable({ providedIn: 'root' }

[2019-07-08 15:39] luardo commented on #61
Hi, I see that the issue is closed. But I am having the same issue. Adding the stylePreprocessorOptions hasn't fix the problem yet.
I added the stylePreprocessorOptions property, but it still showing the same error to me.
Did you find more details about this issue?

[2019-07-10 08:21] luardo opened #73 "Is there any support when using NGRX Store?"
The library is working perfectly when I am using components without a Store, but when I want to include any component which has some access to the store, I keep getting this error.

[code]

Is Ngrx supported at all? Or which are the configurations needed for this kind of components. My test are running fine when I do npm run test.
Any clue?

[2019-07-10 10:03] luardo commented on #70
Just one more note about your solution @ThomasWeinert
an interface for Window needs to be created in order to be able to add a property to window.

[code]

[2019-07-10 17:00] nording commented on #73
Not sure how a test setup with ngrx look like, could you provide example?

[2019-07-20 13:41] Tanmay-tfc commented on #72
Hi @nording wanted to know if UI-Jar automatically generates code snippets/demo for components that consume services? Didn't see an example in the readme, so was curious..

[2019-07-24 08:54] #73 closed

[2019-07-24 09:00] luardo opened #74 "Declared variables in test are not in scope."
I have my test files, and I want to inject some mockdata to my component using a factory which I have created. However the variable I create to contain the mock data is not being recognize in the styleguide. My test are running fine, and I only get this issue in uijar.
This is my test
` /**@uijarexample */
it('should create', () => {
        const highlightsContainer = highlightsFactory.build();

[2019-07-24 16:05] nording commented on #74
Hm, sounds like a bug. Does it work of you do like this:
`component.highlights = highlightsFactory.build();` ?

[2019-07-25 10:17] luardo commented on #74
Yes, when I do that it works. What I have seen in the generated code in the temp folder, is that the variables are not being copied or declared there. So it might be something related to the parser.

[2019-07-25 10:19] luardo commented on #50
@oponomarenko If you fork the project and compile it again, it will work. Or that is what worked for me at least.

[2019-07-26 17:25] luardo opened #76 "properties assigned in tests are first undefined"
Whenever I assign a value to a property of the component, first it will be undefined and then after the component has loaded the value will be assigned. This is not a problem with some values such a a text. But as soon as we try to use `myvalue.length` then I will cause an error.
Looks like the component bootstraps without this values and then after bootstrapped, it will be added.

[2019-07-26 18:56] nording commented on #74
Nice! I will merge your fix! Thanks!

[2019-07-30 09:28] nording commented on #76
Correct - all properties is assigned after component is created. I guess that to fix this issue we have to generate all examples with assigned values as defaults.
The reason that all properties is set in runtime is that we can reuse (import) component source code without modifing it with all property assignments as defaults.

@luardo do you have any other idea of how to solve it?

[2019-09-30 21:50] costalvaro commented on #50
Hi, just discovered the lib, thanks for the hard work !
I'm having the same issue about bootstrap, which is blocking since my components heavily depend on Bootstrap to render correctly.
Looking forward to this fix! :)

[2020-06-09 10:01] mveer-agarwal commented on #70
I have added this with my polyfills but running UI-Jar test is still giving exception.
![Capture](https://user-images.githubusercontent.com/25291755/84134455-e421a980-aa48-11ea-88e0-5f1282f7b8e3.JPG)

[2020-10-13 13:13] sashapavlov opened #80 "Support for Angular 9"
Hi,

Currently, UI Jar is not compatible with Angular 9.

After upgrading the project to Angular 9 I got lots of errors similar to this one:

Module not found: Error: Can't resolve '../../../src/app/app.config' in 'path-to-my-project\node_modules\ui-jar\__ivy_ngcc__\temp'

Probably it's related to the new Ivy compiler.

Is there going to be any support for Angular 9?

[2020-10-13 23:17] buleglay commented on #80
I experience the same issue recently, a workaround worked for me:
1. Turn off "aot" in your [project_root]/angular.json
"projects" -> "ui-jar" (or whatever you called it when creating your uijar application) -> "architect" -> "build" -> "options" -> "aot" **set to false**
2. Disable Ivy in your ui-jar app's tsconfig.app.config (Not your main app's tsconfig, but the tsconfig for ui-jar sub app)
In

[2020-10-14 10:33] nording commented on #80
I would use the workaround @buleglay suggest at the moment. I haven't had the time to fix issue with Ivy yet.

[2021-03-06 09:59] Airblader commented on #80
@nording Do you intend to do this update? As it stands, it seems this library is unusable for any supported Angular version since ViewEngine is deprecated and disabling AoT can barely be considered a workaround.